<!-- Top Bar
============================================= -->
<div id="top-bar" class="transparent-topbar">

    <div class="container clearfix">

        <div class="col_half fright col_last clearfix nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <li><a href="https://de-de.facebook.com/fahrwerk.kult/" target="_blank"><i class="icon-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/fahrwerk.kart.golf/" target="_blank"><i class="icon-instagram"></i></a></li>
                    <li class="d-md-none d-lg-block"><a href="#"><i class="icon-call"></i> 06071-951122</a></li>
                    <li><a href="mailto:fahrwerk@fahrwerk.de"><i class="icon-email3"></i></a></li>
                    <li><a href="mailto:fahrwerk@fahrwerk.de"><i class="icon-cart"></i></a></li>
                </ul>
            </div><!-- .top-links end -->

        </div>

    </div>

</div><!-- #top-bar end -->

<header id="header" class="static-sticky transparent-header dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="/" style="max-width: 70%" data-dark-logo="{{ 'assets/images/fahrwerk-logo-02.svg'|theme }}" class="standard-logo"><img src="{{ 'assets/images/fahrwerk-logo-02.svg'|theme }}" alt="Fahrwerk Logo"></a>
                <a href="/" data-dark-logo="{{ 'assets/images/fahrwerk-logo-02.svg'|theme }}" class="retina-logo"><img src="{{ 'assets/images/fahrwerk-logo-02.svg'|theme }}" alt="Fahrwerk Logo"></a>
            </div>

            <nav id="primary-menu" class="with-arrows">

                <ul>
                    <li><a href="#"><div>Kart</div></a>
                        <ul>
                            <li><a href="{{ url('/indoor')}}"><div>Indoor</div></a></li>
                            <li><a href="{{ url('/outdoor')}}"><div>Outdoor</div></a></li>
                            <li><a href="{{ url('/kids')}}"><div>Kids</div></a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url('/golf')}}"><div>Golf</div></a></li>
                    <li><a href="{{ url('/kalendar')}}"><div>Jahreskalender</div></a></li>
                    <li><a href="#"><div>Events</div></a>
                        <ul>
                            <li><a href="{{ url('/catering')}}"><div>Catering</div></a></li>
                            <li><a href="{{ url('/events')}}"><div>Veranstaltungen</div></a></li>
                            <li><a href="#"><div>Räume</div></a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url('/burger')}}"><div>Burger</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->